<section class="banner-section">
  <div class="content">
    <p>
      <i
        >“Cuidar da beleza não é uma questão de vaidade, mas sim de amor próprio
        e autocuidado.”
      </i>
    </p>
  </div>
</section>

<style>
  .banner-section {
    background-image: url("/images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 280px 0;
  }

  .banner-section p {
    text-align: center;
    font-size: 38px;
  }

  @media (max-width: 1024px) {
    .banner-section {
      padding: 220px 20px;
    }

    .banner-section p {
      font-size: 22px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    .banner-section p {
      font-size: 26px;
    }
  }
</style>
