<section id="sobre" class="sobre-mim">
  <div class="content">
    <div class="sobre-text">
      <h1>SOBRE MIM</h1>
      <p>
        Seja bem vinda !!! Meu nome é Jéssica, sou casada desde 2017, tenho 2
        filhas. Em 2019 iniciei na área da beleza e desde então tenho me
        dedicado a aprender e a me aperfeiçoar no embelezamento do olhar. Saiba
        que eu prezo pela beleza natural e tenho como diferencial respeitar as
        suas características e fazer você ficar ainda mais linda sem perder a
        delicadeza feminina. Aqui você pode ver alguns dos meus trabalhos e
        agendar o seu horário.
      </p>
    </div>

    <div class="sobre-img">
      <img src="/images/jessica-sobre.jpg" alt="foto jessica" />
    </div>
  </div>
</section>

<style>
  .sobre-mim {
    width: 100%;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sobre-mim h1 {
    margin-bottom: 10px;
  }
  .sobre-text {
    width: 50%;
    text-align: justify;
  }

  .sobre-img {
    display: contents;
    width: 50%;
  }

  .sobre-img img {
    width: 350px;
    border-radius: 12px;
  }

  @media (max-width: 1024px) {
    .sobre-mim {
      height: auto;
      padding: 60px 0;
    }
    .content {
      width: 100%;
      flex-direction: column;
    }

    .sobre-text {
      width: 90%;
      text-align: center;
    }

    .sobre-img img {
      margin-top: 20px;
      width: 240px;
    }
  }

  @media (width: 1366px) {
    .sobre-img img {
      width: 300px
    }
  }
</style>
