<section class="banner-section">
  <div class="content">
    <p>
      <i
        >“Cuidar da beleza não é uma questão de vaidade, mas sim de amor próprio
        e autocuidado.”
      </i>
    </p>
  </div>
</section>

<style>
  .banner-section {
    background-image: url("/banner.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .banner-section p {
    text-align: center;
    font-size: 38px;
  }

  @media (max-width: 1024px) {
    .banner-section {
      height: 60vh;
    }

    .banner-section p {
      font-size: 24px;
    }

    .content {
      width: 100%;
    }
  }
</style>
