---
import ButtonAppointment from "../ButtonAppointment.astro";
import CarrouselImage from "../CarrouselImage.astro";
---

<section id="porque" class="why-do">
  <div class="content">
    <CarrouselImage />
    <div class="why-do-text">
      <h1>POR QUE FAZER EXTENSÃO DE CÍLIOS?</h1>
      <p>
        A extensão de cílios é uma técnica que consiste em aplicar fios
        sintéticos sob medida diretamente nos cílios naturais. Isso dá a
        impressão de cílios mais longos, volumosos e curvados, criando um efeito
        dramático no olhar.
        <br />
        <br />
        A maioria das mulheres opta por fazer extensão de cílios para se sentir mais
        confiante e bonita, sem precisar usar maquiagem todos os dias. Além disso,
        a extensão de cílios pode ajudar a economizar tempo, já que você não precisa
        aplicar rímel ou cílios postiços.
        <br />
        <br />
        Outro benefício é que as extensões de cílios são duradouras e resistentes
        à água, o que significa que você pode nadar, tomar banho e se exercitar sem
        se preocupar com os cílios saindo do lugar.
        <br />
        <br />
        No entanto, é importante lembrar que a extensão de cílios deve ser feita
        por um profissional qualificado e experiente para evitar danos aos cílios
        naturais.
      </p>
    </div>
  </div>
</section>

<style>
  .why-do {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: black;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 180px;
  }

  .why-do-text {
    width: 50%;
  }

  .why-do-text h1 {
    margin-bottom: 10px;
  }

  .why-do-text p {
    text-align: justify;
  }
</style>
