---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sectionsHomePage/HeroSection.astro";
import AboutSection from "../components/sectionsHomePage/AboutSection.astro";
import WhyDoSection from "../components/sectionsHomePage/WhyDoSection.astro";
import ProceduresSection from "../components/sectionsHomePage/ProceduresSection.astro";
import BannerSection from "../components/sectionsHomePage/BannerSection.astro";
---

<Layout title="Jessica Medeiro - Transformando olhares">
  <main>
    <HeroSection />
    <AboutSection />
    <WhyDoSection />
    <ProceduresSection />
    <BannerSection />
  </main>
</Layout>
