---
const { page, icon, targetUrl } = Astro.props;
---

<a href={page ? page : targetUrl} target={page ? "_self" : "_blank"}>
  <slot />
  {icon && <img src={icon} alt="whatsapp icon" />}
</a>

<style>
  a {
    width: 300px;
    background-color: #e1245e;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  a:hover {
    background-color: #f96391;
  }

  @media (max-width: 1024px) {
    a {
      width: 200px;
      font-size: 0.9rem;
      padding: 6px;
    }

    a img {
      width: 20px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    a {
      width: 250px;
      font-size: 0.9rem;
      padding: 8px;
    }

    a img {
      width: 20px;
    }
  }
</style>
