<script>
  const header = document.querySelector("header");
  const logo = document.querySelector(".logo");
  const menuToggle = document.querySelector(".menu-toggle");
  const navLinks = document.querySelector(".nav-links");
  const closeMenu = document.querySelector(".close-menu");

  const changeHeader = () => {
    if (window.scrollY > 0) {
      header.classList.add("scroll");
      logo.setAttribute("src", "/images/logo-light.png");
    } else {
      header.classList.remove("scroll");
      logo.setAttribute("src", "/images/logo-dark.png");
    }
  };

  window.addEventListener("scroll", changeHeader);

  // Abre e fecha o menu ao clicar no ícone de menu ou no botão de fechar
  menuToggle.addEventListener("click", () => {
    navLinks.classList.toggle("open");
    document.body.classList.toggle("no-scroll"); // Adiciona a classe "no-scroll" ao document.querySelector("body") as HTMLElement;
  });

  closeMenu.addEventListener("click", () => {
    navLinks.classList.remove("open");
    document.body.classList.remove("no-scroll");
  });

  // Fecha o menu e faz rolagem suave ao clicar em um link
  document.querySelectorAll(".nav-links li a").forEach((link) => {
    link.addEventListener("click", (event) => {
      event.preventDefault(); // Evita o comportamento padrão de navegação
      const targetId = link.getAttribute("href").substring(1); // Pega o ID do alvo
      const targetSection = document.getElementById(targetId); // Encontra a seção alvo

      // Faz o scroll suave até a seção alvo
      window.scrollTo({
        top: targetSection.offsetTop - header.offsetHeight,
        behavior: "smooth",
      });

      // Fecha o menu após a rolagem suave
      navLinks.classList.remove("open");
      document.body.classList.remove("no-scroll");
    });
  });

  // Fecha o menu ao clicar fora dele
  document.addEventListener("click", (event) => {
    const target = event.target as Node;
    if (!navLinks.contains(target) && !menuToggle.contains(target)) {
      navLinks.classList.remove("open");
      document.body.classList.remove("no-scroll");
    }
  });
</script>

<header>
  <div class="content-header">
    <a href="#">
      <img src="/images/logo-dark.png" alt="Logo" class="logo" />
    </a>
    <div class="menu-toggle">&#9776;</div>
    <ul class="nav-links">
      <span class="close-menu">&times;</span>
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#porque">Por que fazer extensão?</a></li>
      <li><a href="#procedimentos">Procedimentos</a></li>
    </ul>
  </div>
</header>

<style>
  /* Header */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease-in-out;
  }

  .scroll {
    background-color: #f96391;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }

  .logo {
    width: 150px;
    height: 150px;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  .nav-links li a {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
  }

  .nav-links li a:hover {
    color: #e1245e;
  }

  /* Mobile Menu */
  .menu-toggle {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }

  .nav-links {
    transition: transform 0.3s ease;
  }

  .close-menu {
    display: none;
  }

  /* Responsive for Mobile */
  @media (max-width: 1024px) {
    .menu-toggle {
      display: block;
    }

    .nav-links {
      position: fixed;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      background-color: #161515;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding-top: 80px;
      transform: translateX(100%);
      box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.438);
    }

    .nav-links.open {
      transform: translateX(0);
    }

    .content-header {
      justify-content: space-between;
      padding-inline: 40px;
    }

    .logo {
      width: 120px;
      height: 120px;
    }

    /* Close Button Styles */
    .close-menu {
      position: absolute;
      top: 10px;
      right: 30px;
      font-size: 56px;
      color: #fff;
      cursor: pointer;
      display: block;
    }
  }

  @media (max-width: 1400px) {
    
  }
</style>
